<%- include('./partials/head') %>

<!-- <h2>Students</h2> -->
<!-- aangezet voor practicum -->
<!-- <ul>
  <% persons.forEach(person => { %>
    <li><a href="./person/<%= person.id %>"><%= person.name %></a>, squad_id <%= person.squad_id %></li>
  <% }) %>
</ul> -->

<section>

  <div class="squadNavBar">
    <h1>FDND Squads</h1>

    <ul>
      <!-- Met slice zorg ik ervoor dat de eerste 2 van de squads niet worden weergegeven (2e jaars, staat leeg) -->
      <% squads.slice(2).forEach(squad => { %>
        <!-- <li><a href="./squad/?filter={squad_id:<%= squad.id %>}">Squad <%= squad.id %></a></li> -->
        <li>
          <a href="./squad/<%= squad.id %>"><span>Squad</span> <%= squad.id %> | <%= squad.name %></a>
        </li>
        <!-- https://fdnd.directus.app/items/person/?filter={%22squad_id%22:3}&sort=name -->
      <% }) %>
    </ul>
  </div>

  <div class="containerFilter">
    <h2>Squad</h2>
    <button>-</button>
  </div>

  <div class="containerPersons">

    <ul class="squads">
      <% persons.forEach(person => { %>
        <li>
          <a href="./person/<%= person.id %>">
            <h4><%= person.name %> | Squad-id: <%= person.squad_id %></h4>
            <img src="<%= person.avatar %>">
          </a>
        </li>
      <% }) %>
    </ul>
  </div>
  
</section>

<%- include('./partials/foot') %>