<%- include('./partials/head') %>
<header>
  <a href="/">Back</a>
  <h1><%= squad.name %></h1>
</header>
 
<main>
  <ul>
    <!-- items/person/?filter={"squad_id":3}&sort=name -->
    <% person.forEach(person => { %>
      <li>
        <a href="https://<%= person.website %>">
          <h2><%= person.name %> <%= person.prefix %> <%= person.surname %> </h2>
        </a>
      </li>
    <% }) %>
  </ul>
</main>
 
<%- include('./partials/foot') %>